.btn_container {
  margin: 15px 0 30px;
}

.btn_container > button {
  color: #3ca2f4;
  border: 1px solid #acacac;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  width: 33.3%;
}

.btn_container > button:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid transparent;
}

.btn_container > button:last-of-type {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid transparent;
}

.btn_container > button:hover {
  border: 1px solid #64b5f5;
  background-color: #f2fcfe;
}

.btn_container > button.active {
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

@media only screen and (max-width: 991.8px) {

  .btn_container {
    margin: 15px 0 20px;
  }

  .btn_container > button {
    padding: 8px 10px;
  }
}